<section class="ssm-app">
    <form>
        <p class="ssm-light-text">{{content}}</p>
        <hr />
        <div class="ssm-grid-two-buttons">
            <div class="button-continue">
                <button type="submit" class="ssm-light-background ssm-dark-text ssm-no-border" data-bool="true">
                    {{localize 'SSM.Yes'}}
                </button>
            </div>
            <div class="button-continue">
                <button type="submit" class="ssm-light-background ssm-dark-text ssm-no-border" data-bool="false">
                    {{localize 'SSM.No'}}
                </button>
            </div>
        </div>
    </form>
</section>