<section class="ssm-app">
    <form>
        <p class="ssm-light-text">{{localize 'SSM.CropImageUI.Instructions1'}}</p>
        <p class="ssm-light-text">{{localize 'SSM.CropImageUI.Instructions2'}}</p>
        <div class="ssm-span2">
            <div class="ssm-flex-j-center">
                <button type="submit" id="ssm-ciui-submit" name="submit" class="button-continue ssm-light-background ssm-dark-text ssm-no-border">
                    {{localize 'SSM.Submit'}}
                </button>
            </div>
        </div>
    </form>
</section>
