/* ***************************************************************************************** */
/* Used in multiple templates*/
#ssm-scene-divider .window-content,                 /* WHEN ELECTRON APP SUPPORTS :HAS(), CAN REPLACE THIS WHOLE UGLY BLOCK WITH: */
#ssm-convert-image .window-content,                 /* .window-app .window-content:has(.ssm-app) */
#ssm-resize-image .window-content,
#ssm-crop-image .window-content,
#ssm-settings-select-compendium .window-content,
#ssm-settings-select-img-path .window-content,
#ssm-confirmation-dialog .window-content  {    
    background: url(/ui/denim075.png) repeat;    
}

.ssm-app {
    max-height: 50vh;
}

.ssm-app .ssm-config-radio-select {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    padding: 0;
    max-height: 90vh;
}

.ssm-app .filepicker-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
}

.ssm-app .filepicker-fields .file-picker {
    border: none;
}

.ssm-app .ssm-grid-items-centered {
    display: grid;
    align-items: center;
}

.ssm-app form p {
    font-size: 125%;
    font-family: "Times New Roman";
}

.ssm-app ol {
    padding: 0;
    list-style-type: none;
}

.ssm-app ol li {
    margin: 0 0 5px 10px;
    padding: 5px;
    border: 1px solid var(--color-text-light-highlight);
    border-radius: 2px;
    box-shadow: 0 0 10px #642700;
}

.ssm-app .ssm-comp-sel {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% auto;
}

.ssm-app .ssm-input-grid {
    grid-template-columns: 40% auto;
}

.ssm-app .ssm-compression-slider {
    grid-template-columns: 40% auto 40px;
}

.ssm-app .ssm-compression-slider span {
    justify-self: center;
}

.ssm-app .ssm-no-border {
    border: none;
}

.ssm-app .ssm-button-250px {
    width: 250px;
}

.ssm-app .ssm-span2 {
    grid-column: 1 / span 2;
}

.ssm-app .ssm-light-background,
.ssm-app .file-picker {
    background: var(--color-text-light-highlight);
}

.ssm-app .ssm-dark-background {
    background: var(--color-text-dark-primary);
}

.ssm-app .ssm-light-text {
    color: var(--color-text-light-highlight);
}

.ssm-app .ssm-dark-text {
    color: var(--color-text-dark-primary);
}

.ssm-app .ssm-flex-j-center {
    display: flex;
    justify-content: center;
}

.ssm-app .button-continue {
    width: 150px;
    margin-top: 15px;
}

.ssm-radio-w-label {
    display: grid;
    grid-template-columns: 50px auto;
    padding: 10px;
}

.ssm-config-path-select {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
}

.ssm-app .ssm-filepicker-button .file-picker {
    background-color: var(--color-text-light-highlight);
    color: var(--color-text-dark-primary);
    border: none;
}

.ssm-app .ssm-grid-two-buttons {
    display: grid;
    grid-template-columns: 155px 155px;
    justify-content: center;
}

/* ***************************************************************************************** */
/* Initialize (build scene from flag data) */
.ssm-app .ssm-picker-app {
    margin: 0;
    color: var(--color-text-light-highlight);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    padding: 0;
    max-height: 90vh;
}

.ssm-seed-scene-select {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}

.ssm-seed-scene-select ol {
    padding: 5px;
    margin: 5px;
    list-style: none;
}

.ssm-seed-scene-select li {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 5px;
}


/* ***************************************************************************************** */
/* Scene Divider */
.ssm-app .ssm-new-div {
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    justify-content: right;
}

.ssm-app .ssm-new-div label {
    margin: 0 10px 0 0;
}

.ssm-app .ssm-div-card {
    grid-template-columns: 75px auto 30px;
}

.ssm-app .button-new-div {
    width: 30px;
    margin-top: 10px;
}


/* ***************************************************************************************** */
/* Resize Image */
.ssm-app .ssm-resize-sizes {
    grid-template-columns: 100px auto 100px auto;
}

.ssm-app .ssm-resize-sizes input[type="number"] {
    width: 50px;
}



/* ***************************************************************************************** */
/* Crop Image */

/* ***************************************************************************************** */
/* Convert Image */

/* ***************************************************************************************** */
/* Settings - Default image folder */

.ssm-app #ssm-config-path-submit {
    background: var(--color-text-light-highlight);
    border: none;
    width: 250px;
}

/* ***************************************************************************************** */
/* Settings - Default compendium */

.ssm-text-w-label {
    display: grid;
    grid-template-columns: 50px 160px auto;
    padding: 10px;
}

.ssm-text-w-label label,
#ssm-comp-choice-current label {
    align-self: center;
}

.ssm-app .ssm-p10 {
    padding: 10px
}

/* ***************************************************************************************** */
